<div class="cards-area">
  <mat-progress-spinner
    class="custom-spinner"
    *ngIf="isLoading"
    mode="indeterminate"
  ></mat-progress-spinner>
  <div *ngIf="(!plans || plans.length === 0) && !isLoading">
    <app-no-plan [count]="count"></app-no-plan>
  </div>
  <div>
    <ng-container *ngFor="let plan of plans">
      <app-plan-card
        [isHomePage]="true"
        [id]="plan.id"
        [name]="plan.name"
        [focusMuscle]="plan.focusMuscle"
        [expiresIn]="plan.expiresIn"
        [training]="plan.training"
      ></app-plan-card>
    </ng-container>
  </div>
</div>
