<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="routeTo('')" class="ident-app">
      <img
        src="../../../assets/img/to-do_gym.svg"
        class="login-img"
        alt="To-do Gym"
        width="32px"
      />
      To-Do Gym
    </span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      (click)="toggleTheme()"
      class="theme-toggle"
      aria-label="Toggle Dark Theme"
    >
      <mat-icon>{{ isDark() ? "dark_mode" : "light_mode" }}</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="routeToProfile()">
        <mat-icon color="accent" class="material-icons-filled">
          person
        </mat-icon>
        <span class="menu-item-text">Meu Perfil</span>
      </button>
      <button mat-menu-item>
        <mat-icon color="accent" class="material-icons-filled">
          timeline
        </mat-icon>
        <span class="menu-item-text">Evolução Física</span>
      </button>
      <button mat-menu-item>
        <mat-icon color="accent" class="material-icons-filled">
          history
        </mat-icon>
        <span class="menu-item-text">Histórico</span>
      </button>
      <button (click)="routeTo('/plans')" mat-menu-item>
        <mat-icon color="accent" class="material-icons-filled">
          fitness_center
        </mat-icon>
        <span class="menu-item-text">Planos de Treino</span>
      </button>
      <button (click)="routeTo('/exercises')" mat-menu-item>
        <mat-icon color="accent" class="material-icons-filled">
          receipt_long
        </mat-icon>
        <span class="menu-item-text">Banco de Exercícios</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon color="accent" class="material-icons-filled">
          close
        </mat-icon>
        <span class="menu-item-text">Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="isHome && user">
    <span>Olá, {{ user.firstName }}!</span>
    <span class="spacer"></span>
    <a (click)="routeToProfile()" class="profile-current-avatar">
      <span
        *ngIf="user && user.avatar === ''"
        class="material-icons profile-avatar-icon"
      >
        account_circle
      </span>
      <img
        class="profile-avatar-image"
        *ngIf="user && user.avatar"
        src="assets/avatar/{{ user.avatar }}"
      />
    </a>
  </mat-toolbar-row>
</mat-toolbar>
