@use "@angular/material" as mat;
@import "../../../styles.scss";

@include mat.core();

.area-main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 0 10px;

  .profile-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .profile-form,
  .profile-form-shape-container {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }

  .profile-form {
    .profile-current-avatar {
      .profile-avatar-icon {
        font-size: 130px;
        justify-content: center;
        display: flex;
      }

      .profile-avatar-image {
        display: flex;
        margin: 0 auto;
      }
    }
  }

  .profile-form-shape-container {
    input {
      width: 80px;
    }

    .profile-form-calcs,
    .profile-form-shape {
      display: flex;
      gap: 15px;

      .profile-form-calcs-column,
      .profile-form-shape-column {
        display: grid;
      }
    }
  }

  .profile-form-password-container {
    input.profile-form-password-input {
      border-radius: 20px 0 0 20px !important;
      width: 79%;
    }
    button {
      width: 30px;
      height: 36px;
      padding: 0;
      background-color: mat.get-color-from-palette($md-accent, 500);
      border-radius: 0 20px 20px 0;
      top: 4.3px;

      span.material-icons-sharp {
        color: mat.get-color-from-palette($md-secondary, A100);
        font-size: 18px;
      }
    }
  }

  input {
    border: none;
    border-radius: 20px;
    padding: 10px;
  }

  .profile-form-element {
    margin-bottom: 15px;
  }

  .profile-form-text-invalid {
    color: mat.get-color-from-palette($md-warning, 500);
    display: flex;
    justify-content: center;
    margin: -10px auto 10px auto;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
  }

  .btn-area {
    display: flex;
    justify-content: space-evenly;

    .btn-confirm {
      display: flex;
      align-items: center;
      color: mat.get-color-from-palette($md-primary, 500);
      font-weight: 700;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-position: right center;
        box-shadow: 0 0 20px #eee;
        color: #fff;
      }
    }

    .btn-cancel {
      display: flex;
      align-items: center;
      border: none;
      border-radius: 20px;
      color: mat.get-color-from-palette($md-primary, 500);
      background-image: linear-gradient(135deg, #78919c 10%, #abe1ff 100%);
      transition: 0.5s;
      background-size: 200% auto;
      font-weight: 700;
      width: 90px;
      padding: 6px;
      justify-content: center;

      &:hover {
        cursor: pointer;
        background-position: right center;
        box-shadow: 0 0 20px #eee;
        color: #fff;
      }
    }
  }
}
