@use "@angular/material" as mat;
@import "../../../styles.scss";

@include mat.core();

.login-container {
  display: flex;
  height: 100vh;
  flex-direction: column;

  .login-img {
    display: flex;
    align-self: center;
    margin: 30px;
    padding-top: 10%;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;

    .login-form-password-container {
      input.login-form-password-input {
        border-radius: 20px 0 0 20px !important;
      }
      button {
        width: 30px;
        height: 36px;
        padding: 0;
        background-color: mat.get-color-from-palette($md-accent, 500);
        border-radius: 0 20px 20px 0;
        top: 4.3px;

        span.material-icons-sharp {
          color: mat.get-color-from-palette($md-secondary, A100);
          font-size: 18px;
        }
      }
    }

    input {
      border: none;
      border-radius: 20px;
      padding: 10px;
    }
  }

  .login-failed-text {
    background-color: mat.get-color-from-palette($md-warning, 300);
    padding: 10px;
    width: 240px;
    display: flex;
    align-content: space-around;
    justify-content: center;
    margin: 10px auto;
    border-radius: 20px;
    color: white;
    align-items: center;

    span {
      margin: 0 2px;
    }
  }

  .login-text-forgot-password {
    align-self: center;
    margin: 10px 0;
  }

  .login-text-new-user {
    align-self: center;
    margin-bottom: 10px;
  }

  .login-footer {
    align-self: center;
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    padding-bottom: 1vh;
  }

  .login-form-text-invalid {
    color: mat.get-color-from-palette($md-warning, 500);
    display: flex;
    justify-content: center;
    margin: -10px auto 10px auto;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
  }

  .login-form-element {
    margin-bottom: 15px;
  }

  .btn-confirm {
    margin-top: 10px;
  }
}
