<mat-card class="plan-card">
  <mat-card-title class="mat-card-title-custom">
    {{ name }}
    <mat-card-actions class="mdc-card__actions-custom">
      <button
        matTooltip="Editar plano"
        color="primary"
        mat-icon-button
        [attr.aria-label]="'Editar'"
        (click)="routeTo(id)"
      >
        <span class="material-icons"> edit_note </span>
      </button>
      <button
        *ngIf="isHomePage"
        matTooltip="Realizar treino"
        color="primary"
        mat-icon-button
        [attr.aria-label]="'Treinar'"
      >
        <span class="material-icons"> fitness_center </span>
      </button>
    </mat-card-actions>
  </mat-card-title>
  <mat-card-subtitle class="mat-mdc-card-subtitle-custom">
    Válido até: {{ formatExpirationDate() }}
  </mat-card-subtitle>
  <mat-card-content>
    <p>Foco do Treino: {{ focusMuscle }}</p>
    <mat-accordion class="mat-accordion-custom" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Exercícios adicionados</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list role="list">
          <ng-container *ngFor="let exercise of training">
            <mat-list-item class="mdc-list-item-custom" role="listitem">{{
              exercise.exerciseName
            }}</mat-list-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
